* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020a18;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Open Sans", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top__header {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-img {
  max-width: 100%;
  border-radius: 10px;
}

.header-left {
  max-width: 170px;
}

.header-right {
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  color: rgb(178, 183, 188);
}

.link-item {
  color: rgb(236, 243, 243);
  font-size: 18px;
  line-height: 27px;
}

.header-menu {
  display: flex;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.menu-img {
  max-width: 80%;
}

.heading center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 30px;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.item-img {
  border-radius: 15px 15px 0 0;
  max-height: 500px;
}

.content-desc {
  padding-left: 5%;
  height: 180px;
}

.content-heading {
  font-family: sans-serif;
  font-size: 38px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.96);
}

.content-text {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.96);
}

.content-item {
  background-color: rgb(26, 34, 34);
  min-height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 3%;
}

.item-name {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgb(236, 243, 243);
  margin-bottom: 10px;
}

.item-text {
  font-family: sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: rgb(216, 224, 224);
  margin-bottom: 10px;
}

.item-ganre {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 28px;
  color: rgb(236, 243, 243);
}

.top-item {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  /* margin: 0 auto; */
  border-radius: 10px;
  background-color: rgb(233, 240, 245);
}

.img-desc {
  max-width: 50%;
  border-radius: 10px 0px 0px 10px;
}

.top__footer {
  /* height: 59px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-top: 120px;
  margin-bottom: 30px;
}

.top-description {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
}

.item-title {
  padding-top: 10px;
  /* padding-left: 20px; */
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #444;
}

.desc-text {
  text-align: justify;
  /* font-size: 18px;
  line-height: 1.4;
  color: #888; */
}

.desc-desc {
  max-width: 770px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.desc-name {
  max-width: 600px;
}

.name-text {
  font-size: 18px;
  line-height: 1.4;
  color: #444;
}

.desc-quality {
  max-width: 210px;
}

.reiting {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.reiting-kp {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 8px 10px;
  border: 2px solid #7be475;
  border-radius: 5px;
  font-weight: 600;
  width: 78px;
  height: 35px;
}

.reiting-imdb {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 8px 10px;
  border: 2px solid #7be475;
  border-radius: 5px;
  font-weight: 600;
  width: 98px;
  height: 35px;
}

.performer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.reiting-seite {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.star-box {
  /* position: absolute; */
  top: 5px;
  right: 5px;
  fill: #ffa928;
}

.star_active path {
  fill: #ffa928;
}

.footer-post {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 50px;
}

.post {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: rgb(216, 224, 224);
}
